* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: boder-box;
    /* background-color:#f9fcfc */
    ;

}

.navbar {
    height: 60px;
    background-color: rgb(255, 255, 255);
    color: #131921;
    border: 0px solid black;
    align-items: center;
    justify-content: space-evenly;
}


/* /.nav_log {
    height: 50px;
    width: 100px;
} */

.nav_log {
    height: 60px;
    width: 130px;
    background-color: #a1e6e6;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("vecteezy_amazon-logo-png-amazon-icon-transparent-png_19766240.png");
    /* height: 50px; */
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid rgb(15, 14, 14);
}




header {
    display: flex;
    border: 1.5px solid black;
    justify-content: space-evenly;
    background-color: #a1e6e6;
}

.nav_address {
    border: 1.5px solid transparent;
    justify-content: center;
    align-items: center;
}

.nav_address:hover {
    border: 1.5px solid rgb(15, 14, 14);
}

.add_icon {
    display: flex;
    align-items: center;
}

.add_first {
    color: black;
    font-size: 0.85rem;
    margin-left: 15px;
    margin-top: 10px;



}

.add_second {
    font-size: 1rem;
    margin-left: 3px;

}

.nav_search {
    margin-top: 10px;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    display: flex;
}

.nav_search:hover {
    border: 1.5px solid rgb(22, 22, 22);
}

.search_amazon {

    background-color: #a1e6e6;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1rem;
    /* border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; */



}

.nav_All {
    width: 50px;
    height: 42px;
    /* padding: 5px; */
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #a1e6e6;
    border: none;
}

.nav_singin {
    align-items: center;
    margin-top: 10px;
    border: 1px solid transparent;


}

.nav_singin:hover {
    border: 1.5px solid rgb(15, 14, 14);
}

.singin {
    font-size: 16px;
    font-weight: 600;
}

span {
    font-size: 11px;
}

.nav_order {
    align-items: center;
    margin-top: 10px;
    border: 1.5px solid transparent;
}

span {
    font-size: 11px;
}

.order {
    font-size: 16px;
    font-weight: 600;
}

.nav_order:hover {
    border: 1.5px solid rgb(15, 14, 14);
}

.nav_cart {
    border: 1.5px solid transparent;
    margin: 10px;
}

.nav_cart:hover {
    border: 1.5px solid rgb(15, 14, 14);
}

.panel {
    height: 40px;
    background-color: rgb(212, 236, 236);
    display: flex;
    justify-content: space-evenly;
}

.panel_ops {
    display: flex;
    width: 70%;
    font-size: 0.85rem;
    font-weight: 500;
    word-spacing: 6px;
}

.panel_deals {
    font-size: 0.9rem;
    font-weight: 700;
    margin: 10px;
    border: 1.5px solid black transparent;
}

.panel_deals:hover {
    border: 1.5px solid black;
}

.panel_ops p {
    /* margin  10px; */
    font-weight: 600;
    justify-content: space-b;

}

.hero_section {
    /* margin: auto; */
    height: 300px;
    background-image: url("row 2.jpg");
    background-size: cover;
    align-items: center;
    /* padding-top: 400px; */




}

.hero_msg {
    background-color: #8bdada;
    height: 40px;
    align-items: center;
    font-size: 0.85rem;
    width: 100%;
    justify-content: center;

    ;



}

.hero_msg p a {
    color: blue;
    text-decoration: none;
    text-align: center;
    font-weight: 600;


}

.hero_msg p {
    text-align: center;


}

p {
    align-items: center;
    padding-top: 10px;
}

.shop_section {
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(180, 52%, 70%);
    flex-wrap: wrap;

}

.box {
    height: 370px;
    width: 23%;
    background-color: #c1f7f7;
    padding: 20px 0px 15 px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.box_img {
    height: 300px;
    background-size: cover;
    background-image: url("box23.jpg");
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box h2 {
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
}

.box {
    height: 370px;
    width: 23%;
    background-color: #c1f7f7;
    padding: 20px 0px 15 px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.box3_img {
    height: 300px;
    background-size: cover;
    background-image: url("box31.jpg");
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box h2 {
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
}

.box {
    height: 370px;
    width: 23%;
    background-color: #c1f7f7;
    padding: 20px 0px 15 px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.box4_img {
    height: 300px;
    background-size: cover;
    background-image: url("box23.jpg");
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box h2 {
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
}

.box {
    height: 370px;
    width: 23%;
    background-color: #c1f7f7;
    padding: 20px 0px 15 px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.box2_img {
    height: 300px;
    background-size: cover;
    background-image: url("box13.jpg");
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box h2 {
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
}

.box {
    height: 370px;
    width: 23%;
    background-color: #c1f7f7;
    padding: 20px 0px 15 px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.box1_img {
    height: 300px;
    background-size: cover;
    background-image: url("box24.jpg");
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box h2 {
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
}

/* second box */
.second_shop {
    display: flex;
    justify-content: space-evenly;
    height: 370px;

    background-color: #c1f7f7;
    padding: 20px 0px 15 px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.box5_img {
    height: 300px;
    background-size: cover;
    background-image: url("box24.jpg");
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

.box {
    height: 370px;
    width: 23%;
    background-color: #c1f7f7;
    padding: 20px 0px 15 px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.hero_section2 {
    height: 300px;
    width: 100%;
    background-image: url("row22.jpg");
    background-size: cover;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    background-color: #a1e6e6;
    height: 50px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
}

.nav_cart i {
    font-size: 35px;
    padding-top: 10px;

}

.panel_all {
    font-size: 30px;
    padding-top: 5px;
}

.footer_panel2 {
    background-color: hsl(180, 57%, 85%);
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    justify-content: space-evenly;
}

.list_first {
    margin-top: 10px;
}

ul a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 0.85rem;
    padding-top: 10px;

}

ul {
    margin-top: 20px;
}

.footer_panel3 {
    background-color: #a1e6e6;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    background-image: url("vecteezy_amazon-logo-png-amazon-icon-transparent-png_19766240.png");
    height: 50px;
    width: 100px;
    background-size: cover;
    align-items: center;
    margin-top: 3px;
}

.search_icon {
    height: 42px;
    width: 60px;
    background-color: #a1e6e6;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}